nav{
    background-color: cornflowerblue;
}
h2{
    color: rgb(63, 20, 220);
}
nav{
    border: 1px solid black;
}
.primera{
    background-color: mediumaquamarine;
}
.título{
    color: darkgreen;
}
.párrafo{
    color:rgb(225, 145, 65);
}